# Виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы Jupyter
.ipynb_checkpoints/

# База данных (если она у тебя тестовая и не нужна на GitHub)
*.db

# Данные, если они личные/тестовые
*.csv

# Логи
*.log
 
